body{
    display: flex;
    align-items: center;
   background-color: antiquewhite;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New';
}
button{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
p{
    margin-top: 20px;
    font-size: 20px;
}
.colorbox{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}